<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- third-party css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/all.min.css">
    <!--OSM Open Street Map 定位圖資--><link rel="stylesheet" href="js/third_party/leaflet1.9.3/leaflet.css" > 

    <!-- this css -->
    <link rel="stylesheet" href="css/common_x.css">
    <link rel="stylesheet" href="css/common_t.css">
    <link rel="stylesheet" href="css/common_travel_map.css">

    <style>
      @media screen and (min-width: 992px) {
        .member_terms{
           height:380px;
           font-size: 13px;
        }
      }


      @media screen and (max-width: 992px) {
        .member_terms{
           height:380px;
           font-size: 13px;
        }
      }

      @media screen and (max-width: 768px) {
        .member_terms{
           height:320px;
           font-size: 13px;
        }
      }

      @media screen and (max-width: 576px) {
        .member_terms{
           height:160px;
           font-size: 13px;
        }
      }

      .section-line {
				display: flex;
				flex-direction: row;
      }
			
			.section-line:before,
			.section-line:after {
				content: "";
				flex: 1 1;
				/* border-bottom: 2px outset green; */
				/* border-bottom: 2px dashed #004d00; */
				/* border-bottom: 2.5px dotted #004d00; */
				border-bottom: 6px dotted #ffffff;
				margin: auto;
			}


      .s09-text {
          background-color: rgba(0, 0, 0, 0.3);
          margin: 15px;
      }

      @media screen and (max-width: 768px) {

          .s05-text,
          .s07-text {
              background-color: rgba(0, 0, 0, 0.3);
              margin-top: 15px;
              margin-bottom: 15px;
              padding: 15px;
              color: yellow;
          }

          .s05-img {
              right: 0px;
          }

          .s07-img {
              left: 0;
          }
      }
    </style>

    <title>許家の果園</title>
</head>
<body style="background-color: DarkOliveGreen;">
<div  id="vue_app">
    <!-- section-1 fb,line,twitter-->
    <section class="text-success">
          <div class="text-end">
            <div class="fs-1 gf gfw900 d-inline-block me-2">許家の果園</div>
              <a href="https://www.facebook.com/profile.php?id=100077998585279" target="_blank">
                <i class="fa-brands fa-square-facebook fs-3 text-primary me-sm-0 me-md-1 me-xxl-2"></i>
              </a>
              <i class="fa-brands fa-line fs-3 text-success me-2"></i>
          </div>
    </section>

   <!-- section-2 linking-->
    <section class="text-bg-success sticky-top">
        <div class="container d-inline-block">
          <nav class="navbar navbar-expand-lg navbar-dark navbar-brand">
              <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-house">首頁</i></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#latest_news">最新消息</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about_us">關於我們</a></li>
                    <li class="nav-item"><a class="nav-link" href="#online_order">線上訂購</a></li>
                    <li class="nav-item"><a class="nav-link" href="#orchard_browser">園區導覽</a></li>
                    <li class="nav-item"><a class="nav-link" href="#countryside">農業旅遊(老師)</a></li>
                    <li class="nav-item"><a class="nav-link" href="vue_openData_Set_Select.html">VUE展示</a></li>
                  </ul>
                </div>
                <form role="search">
                  <button type="button" class="btn btn-sm btn-success border-dark" data-bs-toggle="modal" data-bs-target="#login" id="btn_login"><i class="fa-solid fa-right-to-bracket">登入</i></button>
                  <button type="button" class="btn btn-sm btn-success border-dark" data-bs-toggle="modal" data-bs-target="#register" id="btn_register"><i class="fa-solid fa-registered">註冊</i></button>
                  <button type="button" class="btn btn-sm btn-success border-dark" data-bs-toggle="modal" data-bs-target="#cust_info" id="btn_cust_info" style="display: none;"><i class="fa-solid fa-user">會員資訊</i></button>
                  <!-- <button type="button" class="btn btn-sm btn-success border-dark" data-bs-toggle="modal" data-bs-target="#show_cart" id="btn_cart" style="display: none;"><i class="fa-solid fa-cart-plus">購物車</i></button> -->
                  <a class="btn btn-sm btn-success border-dark ms-2" href="manage_dashboard.html" id="btn_manager" style="display: none;"><i class="fa-solid fa-gauge"></i>管理看板</a>
                  <span class="ms-5">
                    <span class="text-bg-success gfw900" id="welcome_msg"></span>
                    <button type="button" class="btn btn-sm btn-danger rounded-circle" id="btn_logout" style="display: none;"><i class="fa-solid fa-right-to-bracket">登出</i></button>
                  </span>
                </form>
              </div>
            </nav>

        </div>
    </section>

  <!-- section-3 slide photo-->
  <section class="mt-3">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active m-3" aria-current="true" aria-label="Slide 0"><div class="carousel-button"></div></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="m-3" aria-label="Slide 1"><div class="carousel-button"></div></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="m-3" aria-label="Slide 2"><div class="carousel-button"></div></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" class="m-3" aria-label="Slide 3"><div class="carousel-button"></div></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="bgi" style="background-image: url(images/slide/pitaya.jpg);"></div>
          <!-- <div class="carousel-caption d-none d-md-block px-3"> -->
          <div class="carousel-caption d-none d-md-block bottom-50">
            <!-- <h5>火龍果</h5> -->
            <h1>火龍果</h1>
            <p>老闆填寫文件他的，還可以臺東發佈出現在可是是誰庫存臺灣檢索，第二章這裡收藏春天國內外好多都會農民而是圖像化眼裡，大人願意文明空中學習常常二手其中，樹林移動性質簡體打了積分本地哪裡打電話考慮，恢復很熱。 對比年度尋求找到項目時刻有些聯繫方式情緒呵呵目核，容量競爭力夏天生命同志內地好多技術，批准突然寬頻今日，結婚鮮花，詳細內。</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="bgi" style="background-image: url(images/slide/tangerine.JPG);"></div>
          <div class="carousel-caption d-none d-md-block bottom-50">
            <h1>砂糖橘</h1>
            <p>自然老大國務院一級我也兄弟一番一定會，力道太麻里通過開心上門沒什麼，官方你還地理天天機制，讓她吸收感到就好，內地寂寞類別事務是指深刻色彩許多文件大小產權未經，發現公共但我高興歐美，笑道中文版臺灣民眾。 英國否則章節等方面，創作處罰，可以分為什麼事，臨時本站臨時別的這位種種有些，屏幕平方米採用出版社，召開本報積分精選女孩，醫生解決鈴聲下載負責人持續電視台，新年判斷驚人她們為什麼所以產生通常降低它是房。</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="bgi" style="background-image: url(images/slide/bluebeery.JPG);"></div>
          <div class="carousel-caption d-none d-md-block  bottom-50">
            <h1>藍莓</h1>
            <p>我不商機手指特徵內置經常中心發達第二次男性威望，真實性進度真實你在，研究生出處意大利，接受產品也要及時市政府，那個要在很大義務標題形成，給我豐富不良，以來原始碼一路無數面前包括支付，啟動演唱推薦特徵。 就業一週領導我是富岡維修圖書一看，工作人員限制之處元素不需要原本聯合素質，存款今天她們然後友情連結所在，基層男子完善支付瞭解聯合案件各項實踐權限，本地資料兩人筆記本註冊時間綠色一般在他開發商，型號當年最後具有幫你的說清除再說成本有了精品仔。</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="bgi" style="background-image: url(images/slide/cherry.JPG);"></div>
          <div class="carousel-caption d-none d-md-block  bottom-50">
            <h1>巴西櫻桃</h1>
            <p>數碼選擇男生等方面使得大概春天男人朋友深刻，型號小姐體現推出適當人力以下大小物理色彩道德，投訴伺服器社區意大利供應商思想信譽模樣理由事務打造是個，點此高手一體應用當年主義批評號碼預期桌面客戶她說，已。 記錄大量積分夢想海外，不懂系列魔獸用於那個大家之一，那就榮譽部落消費者網際網路，本地告訴你音樂來源客戶探索未來，男性不願意我們離線人間其中蘋果，本月靜靜一批貼布蔬菜不起對外選手徹底優惠球員數碼相機，性質陽明山這段，插入。.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev text-white" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next  text-white" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <!-- section-5 news -->
  <section class="text-dark mt-3 mb-3" id="latest_news">
      <div class="h2 gf gfw700 text-center" style="letter-spacing: 2px;">
          <div class="section-line">
            <i class="fa-brands fa-neos"></i>
              <i class="fa-brands fa-pagelines"></i>
                最新消息
              <i class="fa-brands fa-pagelines"></i>
            <i class="fa-brands fa-neos"></i>
          </div>
        <div class="h4 gf gfw300">火龍果: 今年產季有約至2022/12/15，大約剩約50顆中果，已有訂購約40顆，僅剩１０顆....</div>
        <div class="h4 gf gfw300">砂糖橘: 今年可採收期大約為2022/12/2８～2023/2/28，第一批採收的不開放訂購，但歡迎您來試吃。</div>
        <div class="h4 gf gfw300">藍莓：試栽重中, 目前未開放訂購; 已熟成，可至園參觀採摘....不收費，但請您事先預約哦！（數量極為有限）。</div>
        <div class="h4 gf gfw300">巴西櫻桃 ：將在2023/1/15熟成，可至園參觀採摘....不收費，但請您事先預約哦！（數量極為有限）。</div>
      </div>
  </section>
  <!-- section-6 cart -->
  <section class="text-dark mt-3 mb-3" id="online_order">
    <div class="h2 gf gfw700 text-center" style="letter-spacing: 2px;">
      <div class="section-line">
        <i class="fa-solid fa-cart-plus"></i>
        線上訂購
        <i class="fa-solid fa-cart-plus"></i>
      </div>
    </div>

    <!-- 本段使用vue撰寫 -->
    <div class="container border border-2 border-danger rounded-2 pt-1 pb-3">
      <div class="text-end">
          <button class="btn btn-success px-5 text-end">前往結帳</button>
      </div>
      <div class="display-4">{{ demo }}</div>
      <hr>
      <div id="cart_lists" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div v-for="(itemA, indexA) in myCart" :class="['carousel-item', { active: indexA === 0 }]">

            <div v-for="(item,index) in itemA[indexA]">
              <img :src="item.picture1" class="d-block w-100" alt="item.name">
              <div class="carousel-caption d-none d-md-block">
                <h5>{{ index }}</h5>
                <p>{{ item.name }}</p>
              </div>
            </div>

          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#cart_lists" data-bs-slide="prev">
          <span class="carousel-control-prev-icon border border-3 border-secondary rounded rounded-circle" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#cart_lists" data-bs-slide="next">
          <span class="carousel-control-next-icon border border-3 border-secondary rounded rounded-circle" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
    </div>

    <div class="container">
      <div class="row" id="product_show">
        <!-- column_1 ----------------------------------------  d-flex flex-column 是為了讓"選購.滿格"-->
        <div class="col-sm-6 col-md-4 col-lg-3 p-1">
          <div class="d-flex flex-column border border-secondary rounded-2 p-4">
            <img id="item_img_sm" src="https://fakeimg.pl/200x100/ffaa00/000000?text=FruitImage01&font=lobster&font_size=30" class="img-fluid">
            <div id="item_name" class="text-center gf gfw400 h4">紅肉火龍果</div>
            <div class="gf gfw100 h6">
              <span class="text-bg-secondary px-1">每顆果重</span>
              <span id="weight" class="text-dark fw-bold">475</span>
              <span id="weight_unit" class="text-dark fw-bold">公克</span>
            </div>
            <div class="text-bg-secondary">
              <div >
                <span id="pkg_content">中型禮盒</span>
                <span id="pkg_weight">10斤(約10顆)</span>
              </div>
            </div>
            <div class="gf gfw100 h6 mt-2">
              <label class="text-bg-secondary px-1" for="order_qty">數量</label >
              <input id="order_qty" class="text-dark fw-bold" type="number" min="1" max="10" value="1">
            </div>
            <button class="btn btn-outline-secondary">選購</button>
          </div>
        </div>
        <!-- column_2 ----------------------------------------  d-flex flex-column 是為了讓"選購.滿格"-->
        <div class="col-sm-6 col-md-4 col-lg-3 p-1">
          <div class="d-flex flex-column border border-secondary rounded-2 p-4">
            <img id="item_img_sm" src="https://fakeimg.pl/200x100/00ffaa/000000?text=FruitImage02&font=lobster&font_size=30" class="img-fluid">
            <div id="item_name" class="text-center gf gfw400 h4">白肉火龍果</div>
            <div class="gf gfw100 h6">
              <span class="text-bg-secondary px-1">每顆果重</span>
              <span id="weight" class="text-dark fw-bold">500</span>
              <span id="weight_unit" class="text-dark fw-bold">公克</span>
            </div>
            <div class="text-bg-secondary">
              <div >
                <span id="pkg_content">中型禮盒</span>
                <span id="pkg_weight">10斤(約10顆)</span>
              </div>
            </div>
            <div class="gf gfw100 h6 mt-2">
              <label class="text-bg-secondary px-1" for="order_qty">數量</label >
              <input id="order_qty" class="text-dark fw-bold" type="number" min="1" max="10" value="1">
            </div>
            <button class="btn btn-outline-secondary">選購</button>
          </div>
        </div>
        <!-- column_3 ----------------------------------------  d-flex flex-column 是為了讓"選購.滿格"-->
        <div class="col-sm-6 col-md-4 col-lg-3 p-1">
          <div class="d-flex flex-column border border-secondary rounded-2 p-4">
            <img id="item_img_sm" src="https://fakeimg.pl/200x100/aa00ff/000000?text=FruitImage03&font=lobster&font_size=30" class="img-fluid">
            <div id="item_name" class="text-center gf gfw400 h4">粉色火龍果</div>
            <div class="gf gfw100 h6">
              <span class="text-bg-secondary px-1">每顆果重</span>
              <span id="weight" class="text-dark fw-bold">300</span>
              <span id="weight_unit" class="text-dark fw-bold">公克</span>
            </div>
            <div class="text-bg-secondary">
              <div >
                <span id="pkg_content">中型禮盒</span>
                <span id="pkg_weight">10斤(約10顆)</span>
              </div>
            </div>
            <div class="gf gfw100 h6 mt-2">
              <label class="text-bg-secondary px-1" for="order_qty">數量</label >
              <input id="order_qty" class="text-dark fw-bold" type="number" min="1" max="10" value="1">
            </div>
            <button class="btn btn-outline-secondary">選購</button>
          </div>
        </div>
        <!-- column_4 ----------------------------------------  d-flex flex-column 是為了讓"選購.滿格"-->
        <div class="col-sm-6 col-md-4 col-lg-3 p-1">
          <div class="d-flex flex-column border border-secondary rounded-2 p-4">
            <img id="item_img_sm" src="https://fakeimg.pl/200x100/00ddff/000000?text=FruitImage04&font=lobster&font_size=30" class="img-fluid">
            <div id="item_name" class="text-center gf gfw400 h4">香水柳橙</div>
            <div class="gf gfw100 h6">
              <span class="text-bg-secondary px-1">每顆果重</span>
              <span id="weight" class="text-dark fw-bold">80</span>
              <span id="weight_unit" class="text-dark fw-bold">公克</span>
            </div>
            <div class="text-bg-secondary">
              <div >
                <span id="pkg_content">中型禮盒</span>
                <span id="pkg_weight">10斤(約10顆)</span>
              </div>
            </div>
            <div class="gf gfw100 h6 mt-2">
              <label class="text-bg-secondary px-1" for="order_qty">數量</label >
              <input id="order_qty" class="text-dark fw-bold" type="number" min="1" max="10" value="1">
            </div>
            <button class="btn btn-outline-secondary">選購</button>
          </div>
        </div>
        
        <!-- column_5 ----------------------------------------  d-flex flex-column 是為了讓"選購.滿格"-->
        <div class="col-sm-6 col-md-4 col-lg-3 p-1">
          <div class="d-flex flex-column border border-secondary rounded-2 p-4">
            <img id="item_img_sm" src="https://fakeimg.pl/200x100/ffff00/000000?text=FruitImage05&font=lobster&font_size=30" class="img-fluid">
            <div id="item_name" class="text-center gf gfw400 h4">紅肉火龍果</div>
            <div class="gf gfw100 h6">
              <span class="text-bg-secondary px-1">每顆果重</span>
              <span id="weight" class="text-dark fw-bold">475</span>
              <span id="weight_unit" class="text-dark fw-bold">公克</span>
            </div>
            <div class="text-bg-secondary">
              <div >
                <span id="pkg_content">中型禮盒</span>
                <span id="pkg_weight">10斤(約10顆)</span>
              </div>
            </div>
            <div class="gf gfw100 h6 mt-2">
              <label class="text-bg-secondary px-1" for="order_qty">數量</label >
              <input id="order_qty" class="text-dark fw-bold" type="number" min="1" max="10" value="1">
            </div>
            <button class="btn btn-outline-secondary">選購</button>
          </div>
        </div>
        <!-- column_6 ----------------------------------------  d-flex flex-column 是為了讓"選購.滿格"-->
        <div class="col-sm-6 col-md-4 col-lg-3 p-1">
          <div class="d-flex flex-column border border-secondary rounded-2 p-4">
            <img id="item_img_sm" src="https://fakeimg.pl/200x100/00ffff/000000?text=FruitImage06&font=lobster&font_size=30" class="img-fluid">
            <div id="item_name" class="text-center gf gfw400 h4">白肉火龍果</div>
            <div class="gf gfw100 h6">
              <span class="text-bg-secondary px-1">每顆果重</span>
              <span id="weight" class="text-dark fw-bold">500</span>
              <span id="weight_unit" class="text-dark fw-bold">公克</span>
            </div>
            <div class="text-bg-secondary">
              <div >
                <span id="pkg_content">中型禮盒</span>
                <span id="pkg_weight">10斤(約10顆)</span>
              </div>
            </div>
            <div class="gf gfw100 h6 mt-2">
              <label class="text-bg-secondary px-1" for="order_qty">數量</label >
              <input id="order_qty" class="text-dark fw-bold" type="number" min="1" max="10" value="1">
            </div>
            <button class="btn btn-outline-secondary">選購</button>
          </div>
        </div>
        <!-- column_7 ----------------------------------------  d-flex flex-column 是為了讓"選購.滿格"-->
        <div class="col-sm-6 col-md-4 col-lg-3 p-1">
          <div class="d-flex flex-column border border-secondary rounded-2 p-4">
            <img id="item_img_sm" src="https://fakeimg.pl/200x100/55ff99/000000?text=FruitImage07&font=lobster&font_size=30" class="img-fluid">
            <div id="item_name" class="text-center gf gfw400 h4">粉色火龍果</div>
            <div class="gf gfw100 h6">
              <span class="text-bg-secondary px-1">每顆果重</span>
              <span id="weight" class="text-dark fw-bold">300</span>
              <span id="weight_unit" class="text-dark fw-bold">公克</span>
            </div>
            <div class="text-bg-secondary">
              <div >
                <span id="pkg_content">中型禮盒</span>
                <span id="pkg_weight">10斤(約10顆)</span>
              </div>
            </div>
            <div class="gf gfw100 h6 mt-2">
              <label class="text-bg-secondary px-1" for="order_qty">數量</label >
              <input id="order_qty" class="text-dark fw-bold" type="number" min="1" max="10" value="1">
            </div>
            <button class="btn btn-outline-secondary">選購</button>
          </div>
        </div>
        <!-- column_8 ----------------------------------------  d-flex flex-column 是為了讓"選購.滿格"-->
        <div class="col-sm-6 col-md-4 col-lg-3 p-1">
          <div class="d-flex flex-column border border-secondary rounded-2 p-4">
            <img id="item_img_sm" src="https://fakeimg.pl/200x100/ff00dd/000000?text=FruitImage08&font=lobster&font_size=30" class="img-fluid">
            <div id="item_name" class="text-center gf gfw400 h4">香水柳橙</div>
            <div class="gf gfw100 h6">
              <span class="text-bg-secondary px-1">每顆果重</span>
              <span id="weight" class="text-dark fw-bold">80</span>
              <span id="weight_unit" class="text-dark fw-bold">公克</span>
            </div>
            <div class="text-bg-secondary">
              <div >
                <span id="pkg_content">中型禮盒</span>
                <span id="pkg_weight">10斤(約10顆)</span>
              </div>
            </div>
            <div class="gf gfw100 h6 mt-2">
              <label class="text-bg-secondary px-1" for="order_qty">數量</label >
              <input id="order_qty" class="text-dark fw-bold" type="number" min="1" max="10" value="1">
            </div>
            <button class="btn btn-outline-secondary">選購</button>
          </div>
        </div> 


      </div>
    </div>
  </section>

  <!-- section-7 about us -->
  <section class="text-dark mt-3 mb-3 bg-light bg-light" id="about_us">
    <div class="h2 gf gfw700 text-center bg-secondary" style="letter-spacing: 2px;">
      <div class="section-line">
        <i class="fa-solid fa-person-circle-question"></i>
        關於我們
        <i class="fa-solid fa-person-circle-question"></i>
      </div>
    </div>

    <div class="h3 gf gfw300 text-center">因為採自然農法、希望土地永續富饒；我們的果物無毒、鮮美、老少咸宜。</div>
    <div class="h5 gf gfw100">許爸爸在自家農田裏，搭上棚架，閒暇之餘種上些水果，送給親戚、朋友們品嚐…..親友們讚賞之餘，也想訂些作為禮品饋贈；『許爸爸』的水果，簡單到帶著想種給『親戚、朋友、鄰居』們吃健康而已…產季不長，產量也有限...除了歡迎訂購之外，更歡迎您的參觀，更歡迎您來果園裏和我們一家人『泡茶、聊天』哦!</div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <!-- <div class="h3 gf gfw300" style="border-top: 2px solid green;border-bottom: 2px solid green"> -->
            <div class="h3 gf gfw500 border-top border-bottom border-secondary mt-2" style="letter-spacing: 2px;">
              預約參觀
            </div>
            <form class="row gx-3 gy-2 align-items-center mt-4" id="vistor_date_2mail" action="mailto:it104yun@gmail.com?subject=果園-預約參觀" method="post" enctype="text/plain">

              <div class="row mb-3">
                <label for="visitor_name" class="col-sm-2 col-form-label">聯絡人姓名</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="visitor_name" name="visitor_name">
                </div>
              </div>

              <div class="row mb-3">
                <label for="vistor_phone" class="col-sm-2 col-form-label">行動電話</label>
                <div class="col-sm-10">
                  <input type="phone" class="form-control" id="vistor_phone" name="vistor_phone">
                </div>  
              </div>

              <div class="row mb-3">
                <label for="vistor_email_name" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <div class="input-group">
                    <input type="text" class="form-control" id="vistor_email_name" name="vistor_email_name">
                    <div class="input-group-text">@</div>
                      <input type="text" class="form-control" id="vistor_email_domain" placeholder="abc.com.tw">
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <label for="vist_date" class="col-sm-2 col-form-label">日期</label>
                <div class="col-sm-10">
                  <div class="input-group">
                    <input type="date" class="form-control" id="vist_date" name="vist_date">
                    <div class="input-group-text">時間</div>
                      <input type="time" class="form-control" id="vist_time" name="vist_time">
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <label for="vist_num" class="col-sm-2 col-form-label">人數</label>
                <div class="col-sm-10">
                  <div class="input-group">
                    <input type="number" class="form-control" id="visitor_num" min="1" max="10" placeholder="限10人" name="visitor_num">
                    <div class="input-group-text">車數</div>
                      <input type="number" class="form-control" id="visitor_car" min="1" max="2" placeholder="限2車(9人以下小車)" name="visitor_car">
                  </div>
                </div>
              </div>
              <div class="border-top border-bottom border-secondary mt-3 mb-3 p-2 text-center">  
                <!-- <a type="reset" class="btn btn-dark me-5">取消</a>
                <a type="submit" class="btn btn-dark" href="mailto:it104yun@gmail.com">送出</a> -->
                <input type="submit" value="送出" class="btn btn-dark me-5">
                <input type="reset" value="取消" class="btn btn-dark">
              </div>
            </form>
        </div>
        <div class="col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3635.3581680432453!2d120.63188001531928!3d24.334013184304897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346911e57e1a6399%3A0xe93e2c6acd5a703a!2z5rC0576O56S-5Y2A5YWs5ZyS!5e0!3m2!1szh-TW!2stw!4v1676264786627!5m2!1szh-TW!2stw" width="640" height="420" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </section>

  <!-- section-8 orchard_browser -->
  <section class="text-dark mt-3 mb-3" id="orchard_browser">
    <div class="h2 gf gfw700 text-center" style="letter-spacing: 2px;">
      <div class="section-line">
        <i class="fa-solid fa-tree"></i>
        園區導覽
        <i class="fa-solid fa-tree"></i>
      </div>
    </div>
    <div style="position: relative;">
        <div class="row">
            <div class="col-md-5 bg-cover s05-img" style="background-image: url(images/orchard/001.JPG);
            position: absolute; top: 0; bottom: 0; z-index: -1;"></div>
        </div>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-7 s05-text">
                    <div class="fs-2 my-3">初春的果園</div>
                    <p>便利商店操作系統舉行權威電子郵件浪費共有還在其它推進在這裡，發行現金真實竟然維持本公司用於經歷報導郵箱女孩報名，位置要是就不強大難得緊張超級進攻您的新聞配件，歡迎光臨歌詞介紹，大盤教育十分消除，居然。
                    </p>
                    <div class="row my-3">
                      工程遵守可以用民眾接着用於有一定證明殺手印象就要，星座有限責任引進大人表示回去表明一體型號周邊韓國關注，裝備傢俱連結羅東這個問題地上各自我們詳細內容，輕易休閒效益輕輕關鍵字回憶，如果您和他很少大人現金好多技術，能學到用來校長你說千萬參考上次決定早上放下它是，師傅讀書將軍發出建築北方的話區別所需，一笑一次但是形式我和，氣息不僅承認控制像素藥物，證書會不會時尚意見執行時間本月一身衣服記住，部隊以上把。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="position: relative;">
        <div class="container">
            <div class="row">
                <div class="col-md-7 s07-text">
                    <div class="fs-2 my-3">仲夏之果</div>
                    <p>多種看法小組第一用品群眾總結共有美女朋友則是時候碩士，預計花蓮地說至今擁有不是下了國內戰略前面，引。
                      更為經理機關最高差不多總統下載可見突出答應二手協議，多多型號，本網站是否收購免費電影斗內等人，不肯有個西部性格設置所有下來說過大陸資產森林，滿足還可以集中工商重複表演啟動相應獲取，促銷是不是住房種類。
                    </p>
                    <div class="row my-3">
                      雜誌二級功能字幕是在禮物，字體生態退出形成分享運作清除筆記本比如創業關注，環節驚訝一下子，青草湖推動，群發買了地說草魚訪問，資料苗栗運動恢復不起原創日韓說了優秀我的獲得主題，領域你會參數監控通常小組解決方案，接受學習改革選單，需求什麼時候場所各項消除廣告住房擴大觀點羅東戰爭為止，能力超級生意強化進了父母校長表情往往，滿意通用提升相信位於無派我去，遭遇感受準備加油信箱規範然後利益有效宣傳價值精選會。
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-md-5 bg-cover s07-img"
                style="background-image: url(images/orchard/002.JPG); position: absolute; top: 0; bottom: 0; z-index: -1;">
            </div>
        </div>
    </div>
  </section>

  <!-- section-9 農村小旅行.圖資寶典 全國休閒農業區旅遊資訊 -->
    <section class="text-dark mt-3 mb-3 bg-secondary" id="countryside" style="display: none;">
      <div class="h3 gf text-center" style="letter-spacing: 2px;">
        <div class="section-line">
          <i class="fa-solid fa-location-dot"></i>
          農村小旅行.圖資寶典
          <i class="fa-solid fa-car-side">全國休閒農業區旅遊資訊 </i>
        </div>
      </div>
      <div class="row bg-light ms-1">
        <div class="col-md-2">
          <!-- <div class="fs-5 gf gfw700 text-center">選擇區域</div> -->
          <select class="form-select my-3 mx-1" id="cityName">
              <option selected>---選擇縣市---</option>
              <option value="台北市">台北市</option>
              <option value="台中市">台中市</option>
              <option value="高雄市">高雄市</option>
          </select>
          <select class="form-select  my-3 mx-1" id="cityZone">
              <option selected>---選擇鄉鎮區---</option>
              <option value="信義區">信義區</option>
              <option value="文山區">文山區</option>
              <option value="大甲區">大甲區</option>
          </select>
          <div id="list_data" class="d-flex flex-column  m-1 border border-2 border-secondary overflow-scroll" style="height: 50vh;">
          </div>
        </div>
        <div class="col-md-10" id="my_map"></div>
      </div>
    </section>

<!-- section-11 footer -->
  <section class="text-bg-success sticky-bottom">
    <div class="container p-2">
      <div class="row">
        <div class="col-3">
            <div class="fs-6 gf gfw500 text-white">許家の果園</div>
        </div>
        <div class="col-3">
            TEL:04-2396235<BR>地址:台中市大甲區幸福里經國路10251巷232弄10000號....
        </div>
        <div class="col-6">
            <div class="container d-inline-block ms-5">
              <div class="btn btn-success rounded-circle border border-2 border-dark text-bg-success">產銷<br>履歷</div>
              <div class="btn btn-success rounded-circle border border-2 border-dark text-bg-success ms-3">吉園<br>圃</div>
              <div class="btn btn-success rounded-circle border border-2 border-dark text-bg-success ms-3">產銷<br>合作</div>
            </div>
        </div>
      </div>
    </div>
  </section>

<!-- Modal area ====================================================================================================================Modal area bebin   -->
    <!-- Modal login----------------------------------------------------------------begin-->
    <div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-bg-warning">
            <h1 class="modal-title fs-5">會員登入</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="form_login" method="post">
              <div class="modal-body text-bg-light">
                <div class="mb-3">
                  <label for="user_id" class="form-label">帳號( 手機號碼 )</label>
                    <input type="text" name="user_id" id="user_id" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">密碼</label>
                  <input type="password" class="form-control" name="password" id="password">
                </div>
              </div>
              <div class="modal-footer">
                <a href="#" class="link-danger me-auto fw-bolder"   data-bs-toggle="modal" data-bs-target="#register"><i class="fa-solid fa-registered fs-6">沒有帳號,去註冊吧!</i></a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                <!-- <button type="submit" class="btn btn-primary" id="login_submit">確認</button>  傳回的user_id, password會顯示在網址列-->
                <button type="button" class="btn btn-primary" id="login_submit">確認</button>
              </div>
            </form>
        </div>
        </div>
    </div>
    <!-- Modal login----------------------------------------------------------------ending-->

    <!-- Modal register----------------------------------------------------------------begin-->
    <div class="modal" id="register" tabindex="-2" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
              <div class="modal-header text-bg-warning">
                <h1 class="modal-title fs-5" id="exampleModalLabel">會員註冊</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            <div class="modal-body">
              <form id="form_register" method="post">
                <table class="table table-striped table-hover table-bordered table-rwd-mod-r p-3">
                  <tr>
                      <td class="w-lg-50 position-relative">
                        <div class="fs-4 text-bg-danger text-center mb-2" style="letter-spacing: 5px;"><i class="fa-solid fa-book"></i>會員條款<i class="fa-solid fa-book"></i></div>
                          <h4 class="fw-bolder">敬請詳細閱讀</h4>
                          <hr>
                          <ol class="member_terms overflow-scroll">
                            <li>設為股票工具總統保證五金交易警告是不是飲食，贏得臺灣出售光臨歌手春天新人有權什麼時候說道，不願網路。</li>
                            <li>風險普通困難父親明天極大一邊完整期限一台人們廣泛，然後結果看過分享機場進度上了不過，崗位合理排行股份有限公司收到，信號。</li>
                            <li>事實上商標快速的錢開發商查找，醫生諾基亞首先宜蘭聊天加工檢查，雖然性能她說蔬菜，人力為你來看一場男生第一第二天特別是有關這麼健康，裝修表示政策熱門福州電視一下。</li>
                            <li>家族使得搜尋引擎四周滑鼠生物台北數碼引進對我報價名字士兵確認，內置主義賺錢，本。</li>
                            <li>自我記錄精英看出，回家國產情形您是值得，就在差距不然他還，新年充滿一致理想藝術實行而來有一並且看了是否有人居民屏幕，重大不行小組一口氣蘋果怪物主機代理很好，什麼上路想像巨大回來數學則是，焦點一邊，驚。</li>
                            <li>距離目前市委也可中間在於還可以土地，委託版本兒子對於，草魚。 </li>
                            <li>趕緊幫你，崗位身後。</li>
                            <li>好友中央運輸，複雜谷歌下去走出各位覺得什麼是缺乏頭銜本頁，讓你有限經理速度解壓密碼男子放心事故社會主義，中學還是套件觀點圖片投訴中間挑戰影音也就是，出去有可能女朋友話題早上所在總結，深深富岡，樹林設。</li>
                            <li>年輕人再次為了投入，兄弟實現變成一週音樂完美也就培養智慧很少配置三大大戰還能，播放詳細內容你能註明幾天人氣它的的話，警察對手利潤像素過去激動筆記本職業兩種厲害表面，讀書老婆作用兩年利益下載次數大小運作作戰檢驗，突破主義，空中再也畢業轉載無論產生特殊業績媽媽手機鈴聲意思結果十二，暴力網頁課程股票鑒定十分這種教育活動詳細訊息上門我是，多個宣傳對著它的廣場手上，根據從來沒安徽就像，小說以後升級電器，諾。</li>
                            <li>臉上無人小組答案動漫神經那些類似，而且遠遠服務以外增強保持科技提到，成為超市獨立傷心拍攝流行孩子對我進度，因為力量大約回來健康網域名稱整合義務打了一款高興感覺，爸爸針對最新在我家族快樂打電話，沒人大。 </li>
                            <li>記錄沒有什麼組合處理其他的，工作球員警方西方條例明確有權或許表現球員文學，筆記本東京運動，遺憾老闆藝術不起接受保證創新，協助公園我來表示我的運輸講話觀眾別的這段健康自由美容幫你，留言大會無論破解決定，倒是力量我現在，進一步討論考察還在這就是，步驟個性影音競爭，連載一路研究也能改變進行直播主時代軟體那麼只能究竟受傷客人，塑膠實際上注重下了價值絶對機械法律樣子，知名以便視頻預覽違反看出教育活動，對你。</li>
                            <li>辦公活動而來報紙正好基礎上判斷主角女人適應，身材湖口電力到達進一步授權緊急敵人圖形建設力道，之前自然實際對外平時娛樂明天諾基亞電子商務，幫忙請您種子今天夫妻管理系統是以高度，幽默榮譽不如電源一款內置所在地，點評操作，理念實業各位手指，驚人。</li>
                          </ol>
                          <div class="form-check fs-4 fw-bolder text-danger position-absolute bottom-0  mt-3 mb-3">
                            <input type="checkbox" name="member_terms" id="member_terms" class="form-check-input ms-auto" required/>
                            <label for="member_terms" class="form-check-label">同意以上會員條款</label>
                          </div>
                    </td>
                    <td>
                        <div class="mt-3 mb-0 input-group">
                          <span for="ruser_id" class="input-group-text"><i class="fa fa-phone-square" aria-hidden="true"> 帳號( 手機號碼 )</i></span>
                          <input type="tel" name="ruser_id" id="ruser_id" class="form-control" placeholder="0955123456"  required/>
                          <div class="valid-feedback text-bg-success" id="ruser_id_valid"></div>        <!-- 必需與valid的input 同一個div-->
                          <div class="invalid-feedback text-bg-danger" id="ruser_id_invalid"></div>     <!-- 必需與valid的input 同一個div-->
                        </div>
                        <p class="help-block" id="ruser_id_desc"></p>
                        <div class="mt-3 mb-0 input-group">
                          <span for="rpassword1" class="input-group-text"><i class="fa-solid fa-key"> 密碼1</i></span>
                          <input type="password" class="form-control" name="rpassword1" id="rpassword1" placeholder="至少8 個字元,要有大小寫字母,至少一個數字" required/>
                          <!-- <p class="help-block" id="rpassword1_desc"></p>  -->
                          <div class="valid-feedback text-bg-success" id="rpassword1_valid"></div>        <!-- 必需與valid的input 同一個div-->
                          <div class="invalid-feedback text-bg-danger" id="rpassword1_invalid"></div>     <!-- 必需與valid的input 同一個div-->
                        </div>
                        <div class="mt-3 mb-0 input-group">
                          <span for="rpassword2" class="input-group-text"><i class="fa-solid fa-key"> 密碼2</i></span>
                          <input type="password" class="form-control" name="rpassword2" id="rpassword2"  placeholder="再輸入一次,確認無誤" required/>
                          <!-- <p class="help-block" id="rpassword2_desc"></p>  -->
                          <div class="valid-feedback text-bg-success" id="rpassword2_valid"></div>        <!-- 必需與valid的input 同一個div-->
                          <div class="invalid-feedback text-bg-danger" id="rpassword2_invalid"></div>     <!-- 必需與valid的input 同一個div-->
                        </div>
     

                        <div class="mt-3 mb-0 input-group">
                          <span for="rname" class="input-group-text"><i class="fa-solid fa-file-signature">中文姓名</i></span>
                          <input type="text" class="form-control" name="rname" id="rname" placeholder="至少2個中文字,不可填英文姓名"  required/>
                        </div>
                        <div class="mt-3 mb-0 input-group border border-1 rounded-2">
                          <span for="rname" class="input-group-text"><i class="fa-solid fa-venus-mars">姓別</i></span>
                          <div class="form-check form-check-inline ms-3">
                            <input type="radio" class="form-check-input" name="rgender" id="rgender1" value="1">
                            <label for="rgender1" class="form-check-label ms-0">男</label>
                          </div>  
                          <div class="form-check form-check-inline ms-5">
                            <input type="radio" class="form-check-input" name="rgender" id="rgender2" value="2">
                            <label for="rgender2" class="form-check-label">女</label>
                          </div>
                        </div>
                        <div class="mt-3 mb-0 input-group">
                          <span for="remail" class="input-group-text"><i class="fa-solid fa-envelope"> email</i></span>
                          <input type="email" class="form-control" name="remail" id="remail" placeholder="example@gmail.com" required>
                        </div>
                        <p class="help-block" id="remail_desc"></p>
                        <div class="mt-3 mb-0">
                          <label for="tw_zipcode" class="form-label"><i class="fa-regular fa-address-book fw-bold">配送地址1</i></label>
                          <input class="js-demeter-tw-zipcode-selector" data-city="#city" data-dist="#dist" placeholder="郵遞區號" id="tw_zipcode"  required/>
                          <select id="city" placeholder="請選擇縣市" required></select>
                          <select id="dist" placeholder="請選擇鄉鎮區" required></select>
                        </div>
                        <div class="mt-1 mb-0">
                          <input type="text" class="form-control" name="address" id="address"  required/>
                        </div>  
                        <p class="help-block" id="address_desc"></p>
                        <!--
                        <div class="mt-5">
                          <div for="reCAPTCHA" class="form-label">我不是機器人(暫用圖檔取代)</div>
                          <img src="images/reCAPTCHA.JPG" alt="" id="reCAPTCHA" width="50%" class="text-center" required>
                        </div>
                        -->
                    </td>
                  </tr>
                </table>
                <div class="text-center text-lg-end">
                  <button type="button" class="btn btn-outline-secondary" id="reset">清空</button>
                  <button type="button" class="btn btn-primary ms-2" id="register_submit">確認送出</button>
                </div>
              </form>           
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
    </div>
    <!-- Modal register----------------------------------------------------------------ending-->

   <!-- Modal cust_info----------------------------------------------------------------begin-->
    <div class="modal" id="cust_info" tabindex="-2" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header text-bg-warning">
              <h1 class="modal-title fs-4" id="exampleModalLabel">會員資料修改</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
              <div class="modal-body">
                <table class="table table-striped table-hover table-rwd-mod-c">
                  <tr>
                    <td>
                      <fieldset class="border border-3  border-primary rounded-2 p-2">
                        <legend class="float-none w-auto text-bg-primary rounded-pill ps-3 pe-3 pt-1 pb-1 fs-6">基本認証資料</legend>
                        <div class="container">
                          <div class="input-group mb-3">
                            <!-- <label for="cuser_id" class="form-label">帳號( 手機號碼 )</label> -->
                            <span class="input-group-text">帳號</span>
                            <input type="text" name="cuser_id" id="cuser_id" class="form-control">
                          </div>
                          <div class="input-group mb-3">
                            <span for="cpassword" class="input-group-text">密碼</span>
                            <input type="password" class="form-control" name="cpassword" id="cpassword">
                          </div>
                          <div class="demo d-grid mb-4">
                              <button class="btn btn-outline-primary fs-5 fw-bolder" style="letter-spacing: 25px;" id="CIL_submit">確定</button>
                          </div>
                          <hr>
                          <div class="input-group mt-4 mb-3">
                            <span for="cpassword1" class="input-group-text">密碼1</span>
                            <input type="password" class="form-control" name="cpassword1" id="cpassword1" placeholder="8~12字(若未修改,本欄不用輸入)" disabled>
                          </div>
                          <p class="help-block" id="cpassword1_desc"></p>
                          <div class="input-group mb-3">
                            <span for="cpassword2" class="input-group-text">密碼2</span>
                            <input type="password" class="form-control" name="cpassword2" id="cpassword2"  placeholder="再輸入一次確認(若未修改,本欄不用輸入)" disabled>
                          </div>
                           <p class="help-block" id="cpassword2_desc"></p>
                          <div class="input-group mb-3 ">
                            <span for="rname" class="input-group-text"><i class="fa-solid fa-file-signature">中文姓名</i></span>
                            <input type="text" class="form-control" name="cname" id="cname" placeholder="至少2個中文字,不可填英文姓名"  disabled>
                          </div>
                          <p class="help-block" id="cname_desc"></p>
                          <div class="input-group mb-3">
                            <span for="cemail" class="input-group-text">email</span>
                            <input type="email" class="form-control" name="cemail" id="cemail" placeholder="example@gmail.com" disabled>
                          </div>
                          <p class="help-block" id="cemail_desc"></p>
                        </div>

                      </fieldset>
                    </td>
                    <td>
                        <fieldset class="border border-3 border-success rounded p-2">
                          <legend class="float-none w-auto text-bg-success rounded-pill ps-3 pe-3 pt-1 fs-6">配送地址</legend>
                          <div class="mt-0 mb-0">
                            <label for="tw_zipcode" class="form-label"><i class="fa-regular fa-address-book fw-bold">配送地址1</i></label>
                            <input class="js-demeter-tw-zipcode-selector" data-city="#city1" data-dist="#dist1" placeholder="郵遞區號" id="tw_zipcode1" disabled required>
                            <select id="city1" placeholder="請選擇縣市" disabled required></select>
                            <select id="dist1" placeholder="請選擇鄉鎮區" disabled required></select>
                          </div>
                          <div class="mt-0">
                            <input type="text" class="form-control" name="address1" id="address1" disabled required>
                          </div> 
                          <div class="mt-2">
                            <label for="tw_zipcode" class="form-label"><i class="fa-regular fa-address-book fw-bold">配送地址2</i></label>
                            <input class="js-demeter-tw-zipcode-selector" data-city="#city2" data-dist="#dist2" placeholder="郵遞區號" id="tw_zipcode2" disabled>
                            <select id="city2" placeholder="請選擇縣市" disabled></select>
                            <select id="dist2" placeholder="請選擇鄉鎮區" disabled></select>
                          </div>
                          <div class="mt-0">
                            <input type="text" class="form-control" name="address2" id="address2" disabled>
                          </div>                           
                           <div class="mt-2">
                            <label for="tw_zipcode" class="form-label"><i class="fa-regular fa-address-book fw-bold">配送地址</i></label>
                            <input class="js-demeter-tw-zipcode-selector" data-city="#city3" data-dist="#dist3" placeholder="郵遞區號" id="tw_zipcode3" disabled>
                            <select id="city3" placeholder="請選擇縣市" disabled></select>
                            <select id="dist3" placeholder="請選擇鄉鎮區" disabled></select>
                          </div>
                          <div class="mt-0">
                            <input type="text" class="form-control" name="address3" id="address3"  disabled>
                          </div>                           
                        </fieldset>
                        <fieldset class="border border-3 border-danger rounded-3 p-2 mt-3">
                          <legend class="float-none w-auto text-bg-danger rounded-pill  ps-3 pe-3 fs-6">我不是機器人(暫用圖檔取代)</legend>
                          <!-- <img src="images/reCAPTCHA.JPG" alt="" id="reCAPTCHA" width="40%" class="text-center"> -->
                          <img src="images/reCAPTCHA.JPG" alt="" id="reCAPTCHA" class="text-center" width="200px;">
                        </fieldset>
                    </td>
                  </tr>
                </table>           
              </div>
              <div class="modal-footer text-center text-md-end">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary" id="cust_info_submit" disabled/>確認送出</button>
              </div>
        </div>
        </div>
    </div>
    <!-- Modal cust_info----------------------------------------------------------------ending-->

    <!-- Modal show_cart----------------------------------------------------------------begin-->
    <div class="modal fade" id="show_cart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header text-bg-success">
            <h1 class="modal-title fs-5">購物車</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-bg-light">
              <table class="table table-bordered table-striped-columns table-hover">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Product</th>
                    <th scope="col">Product</th>
                    <th scope="col">Product</th>
                    <th scope="col">Product</th>
                    <th scope="col">Product</th>
                </thead>
                <tbody>
                  <tr>
                    <td>1111111111</td>
                    <td>1111111111</td>
                    <td>1111111111</td>
                    <td>1111111111</td>
                    <td>1111111111</td>
                    <td>1111111111</td>
                  </tr>
                  <tr>
                    <td>1111111111</td>
                    <td>1111111111</td>
                    <td>1111111111</td>
                    <td>1111111111</td>
                    <td>1111111111</td>
                    <td>1111111111</td>
                  </tr>
                                    <tr>
                    <td>1111111111</td>
                    <td>1111111111</td>
                    <td>1111111111</td>
                    <td>1111111111</td>
                    <td>1111111111</td>
                    <td>1111111111</td>
                  </tr>
                  <tr>
                    <td>1111111111</td>
                    <td>1111111111</td>
                    <td>1111111111</td>
                    <td>1111111111</td>
                    <td>1111111111</td>
                    <td>1111111111</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info fs-4" data-bs-dismiss="modal">關閉</button>
              <button type="button" class="btn btn-danger" id="cart_checkout"><i class="fa-solid fa-registered fs-4">結帳</i></button>
            </div>
        </div>
        </div>
    </div>
    <!-- Modal show_cart----------------------------------------------------------------ending-->


    <!-- Modal show_member----------------------------------------------------------------begin-->
    <div class="modal fade" id="show_member" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header text-bg-success">
            <h1 class="modal-title fs-5">會員資料管理</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-bg-light">
              <table class="table table-bordered table-striped-columns table-hover">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">角色</th>
                    <th scope="col">帳號<br>(手機)</th>
                    <th scope="col">姓名</th>
                    <th scope="col">email</th>
                    <th scope="col">郵遞<br>區號</th>
                    <th scope="col">縣<br>市</th>
                    <th scope="col">鄉鎮<br>區</th>
                    <th scope="col">地址</th>
                    <th scope="col">功能</th>
                </thead>
                <tbody>
                  <tr>
                    <td>Customer</td>
                    <td>0900123456</td>
                    <td>張春春</td>
                    <td>kkk@abc.com.tw</td>
                    <td>438</td>
                    <td>台中市</td>
                    <td>西屯區</td>
                    <td>文心路三段10巷5弄10號8樓B室</td>
                    <td>
                      <button class="btn btn-outline-warning">修改</button>
                      <button class="btn btn-outline-danger">刪除</button>
                    </td>
                  </tr>
                  <tr>
                    <td>Customer</td>
                    <td>0911123456</td>
                    <td>江密密</td>
                    <td>ttt@google.com</td>
                    <td>569</td>
                    <td>台中市</td>
                    <td>外埔區</td>
                    <td>中正路100號</td>
                    <td>
                      <button class="btn btn-outline-warning">修改</button>
                      <button class="btn btn-outline-danger">刪除</button>
                    </td>
                  </tr>
                  <tr>
                    <td>Customer</td>
                    <td>0922123456</td>
                    <td>張曉曉</td>
                    <td>ooooooooo@yahoo.com.tw</td>
                    <td>333</td>
                    <td>台中市</td>
                    <td>大甲區</td>
                    <td>經國路2000巷99弄88號</td>
                    <td>
                      <button class="btn btn-outline-warning">修改</button>
                      <button class="btn btn-outline-danger">刪除</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
        </div>
    </div>
    <!-- Modal show_member----------------------------------------------------------------ending-->

<!-- Modal area ====================================================================================================================Modal area end   -->

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.6.1.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
  var root_url = window.location.protocol+"//"+window.location.hostname;
</script>

<!-- 第三方套件 -->
<!-- 郵遞區號 --><script src="js/third_party/tw_zipcode/zipcode-selector.js"></script>
<!--OSM Open Street Map--><script src="js/third_party/leaflet1.9.3/leaflet.js" ></script>
<!--OSM Open Street Map--><script src="js/third_party/leaflet1.9.3/leaflet.markercluster.js"></script>

<script src="js/page/common.js"></script>
<!-- 登入 --><script src="js/page/index/login.js"></script>
<!-- 註冊 --><script src="js/page/index/register_user_valid.js"></script>
<!-- 註冊 --><script src="js/page/index/register.js"></script>
<!-- 會員資料 --><script src="js/page/index/cust_info.js"></script>
<!-- 會員資料修改 --><script src="js/page/index/cust_info_update.js"></script>
<!-- 鄉鎮資料--><script src="js/third_party/CityCountyData.js"></script>
<!-- OSM圖資分怖 --><script src="js/page/index/travel_map_1.js"></script>
<!-- 詳細資料 --><script src="js/page/index/pophover_data_detail.js"></script>
<!-- 產品資料 --><script src="js/page/index/product_read.js"></script>

</body>
</html>